<h2>Input the title of the movie you'd like to search:</h2>

<form method='GET' action='/movies'>
    <label for='movieTitle'>Movie Title</label>
    <input type='text' id='movieTitle' name='q'>
    <input type='submit'>
</form>