<h2>Input the title of the movie you'd like to search:</h2>

<form method='GET' action='/movies'>
    <label for='movieTitle'>Movie Title</label>
    <!-- !!!might need to change the name to q -->
    <input type='text' id='movieTitle' name='movie_title'>
    <input type='submit'>

</form>